{% extends 'base.html.twig' %}

{% block title %}Liste des publications{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1 class="col-12 text-center my-5">Publication du Blog de Batman</h1>
        </div>

        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                {# Affichage du nombre total d'articles #}
                <div class="row">
                    <p class="col-12 text-center">Nombre total d'articles : {{ articles|length }}</p>
                </div>


                {# Liste des articles #}
                {% for article in articles %}


                    <div class="row">
                        <div class="col-12">
                            <div class="card my-3 bg-black article-card">
                                <div class="card-header">
                                    <a href="{{ path('blog_publication_view', {slug: article.slug}) }}">
                                        <i class="far fa-newspaper me-2"></i>{{ article.title }}</a>
                                </div>
                                <div class="body">
                                    <div class="blockquote mb-0">
                                        <p class="mb-4">{{  article.content|slice(0, 150) }}...<a href="{{ path('blog_publication_view', {slug: article.slug})
                                            }}">Lire
                                                la suite</a></p>
                                        <footer class="blockquote-footer">
                                            Publié le <strong> {{ article.publicationDate|date('d/m/Y à H\\hi') }}</strong> par <strong>{{ article.author.pseudonym }}</strong>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <p class="col-12 text-center alert alert-warning">Aucune publication à afficher.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
